/* ===========================
   Google Font
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


@import url("./variables.css");
@import url("./reset.css");
@import url("./header.css");
@import url("./home.css");
@import url("./search.css");
@import url("./hotels.css");
@import url("./booking.css");
@import url("./footer.css");
@import url("./responsive.css");
@import url("./auth.css");
@import url("./about.css");
@import url(./contact.css);


/* ==========================================
   BACK TO TOP
========================================== */

.back-to-top{
    position:fixed;
    right:30px;
    bottom:30px;
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:var(--gold);
    color:#fff;
    font-size:20px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    visibility:hidden;
    transition:.3s;
    z-index:999;
}

.back-to-top.show{
    opacity:1;
    visibility:visible;
}

.back-to-top:hover{
    transform:translateY(-5px);
}

/* ==========================================
   BOOKING HISTORY
========================================== */

.booking-history{
    padding:100px 0;
}

#bookingList{
    display:grid;
    gap:30px;
}

/* ==========================================
   TOAST NOTIFICATION
========================================== */

.toast{
    position:fixed;
    top:30px;
    right:30px;
    background:#222;
    color:#fff;
    padding:16px 24px;
    border-left:5px solid #28a745;
    border-radius:10px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
    transform:translateX(400px);
    transition:.4s;
    z-index:9999;
}

.toast.show{
    transform:translateX(0);
}

.toast.error{
    border-left-color:#dc3545;
}

.toast.success{
    border-left-color:#28a745;
}

/* ///////Login////// */

.login-link{
    margin-top:25px;
    text-align:center;
    color:var(--gray);
    font-size:15px;
}

.login-link a{
    color:var(--gold);
    text-decoration:none;
    font-weight:600;
    margin-left:5px;
}

.login-link a:hover{
    text-decoration:underline;
}

.video-toast {
    position: fixed;
    top: 30px;
    right: 30px;
    background: #FFD54A;
    color: #111;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 10px 25px rgba(0,0,0,.3);
    opacity: 0;
    transform: translateY(-20px);
    transition: .3s;
    z-index: 9999;
}

.video-toast.show {
    opacity: 1;
    transform: translateY(0);
}

/* /////Watch-Video///// */

.video-toast {
    position: fixed;
    top: 30px;
    right: 30px;
    background: #FFD54A;
    color: #111;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 10px 25px rgba(0,0,0,.3);
    opacity: 0;
    transform: translateY(-20px);
    transition: .3s;
    z-index: 9999;
}

.video-toast.show {
    opacity: 1;
    transform: translateY(0);
}