/* ===========================
   Google Font
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* ===========================
   CSS Variables
=========================== */

:root {
    --bg-color: #0B0B0B;
    --card-color: #151515;
    --gold: #D4AF37;
    --gold-hover: #F4D03F;
    --white: #FFFFFF;
    --gray: #B0B0B0;
}

/* ===========================
   Reusable Classes
=========================== */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding: 100px 0;
}